{% extends 'agvoybase.html.twig' %}

{% block main %}
    	
	<div class="circuit">
    	<h2>
       		{{ circuit.description }}
       	</h2>
    	
    	<h3>Détails</h3>
		<div class="circuit_details">
		
			<p>Description: {{ circuit.description }}</p>
			
			<p>Départ de {{ circuit.villeDepart }} pour {{ circuit.dureeCircuit }} j. de voyage à travers le {{ circuit.paysDepart }}, pour terminer à {{ circuit.villeArrivee }}.</p>
			
			<h3>Étapes</h3>
		 	<table class="table table-responsive table-condensed">
		 		<thead>
					<tr>
				    	<th>Numéro</th>
						<th>Ville</th>
						<th>Nombre jours</th>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<th>Actions</th>
                        {% endif %}
					</tr>
				</thead>
				<tbody>
         			{% for etape in circuit.etapes %}
        	 		<tr>
        			   <td>{{ etape.numeroEtape }}</td>
        			   <td>{{ etape.villeEtape }}</td> 
        			   <td>{{ etape.nombreJours }} j.</td>
        			   {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        			   <td><a href="{{ path('admin_etape_edit', { 'circuitid': circuit.id, 'etapeid': etape.id }) }}">Modifier </a>
        			   		{% if is_granted('ROLE_ADMIN') %}
        			   			<a href="{{ path('admin_etape_remove', { 'circuitid': circuit.id, 'etapeid': etape.id }) }}">Supprimer </a>	
        			   		{% endif %}
        			   </td>                       	
                       {% endif %}
        			</tr>
        			{% endfor %} {# circuit.etapes #}
        			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        			<tr><td></td>       	
        				<td></td>
        				<td></td>
        				<td><a href="{{ path('admin_etape_new', { 'circuitid': circuit.id }) }}">Nouvelle </a></td>
        			</tr>
        			{% endif %}
			</tbody>
			</table>
		</div> {# circuit_details #}
		
		<div class="programmations">
		<h3>Programmations de ce circuit</h3>
		<table class="table table-responsive table-condensed">
		 		<thead>
					<tr>
				    	<th>Date de départ</th>
						<th>Nombre de personnes</th>
						<th>Prix</th>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<th>Actions</th>
                        {% endif %}
					</tr>
				</thead>
		{%  for programmation in circuit.programmations %}
			<tr>
			   <td>{{ programmation.dateDepart|date('d-m-Y')  }}</td>
			   <td>{{ programmation.nombrePersonnes }}</td> 
			   <td>{{ programmation.prix }} euros</td>
			   {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        			<td><a href="{{ path('admin_programmation_edit', { 'circuitid': circuit.id, 'programmationid': programmation.id }) }}">Modifier </a>
        			   	{% if is_granted('ROLE_ADMIN') %}
        			   		<a href="{{ path('admin_programmation_remove', { 'circuitid': circuit.id, 'programmationid': programmation.id }) }}">Supprimer </a>	
        				{% endif %}
        			</td>                       	
              {% endif %}
			</tr>
		{% endfor %}
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        			<tr><td></td>       	
        				<td></td>
        				<td></td>
        				<td><a href="{{ path('admin_programmation_new', { 'circuitid': circuit.id }) }}">Nouvelle </a></td>
        			</tr>
        	{% endif %}
		</table>
	</div> {# programmations #}
    <ul>
        <li>
            <a href="{{ path('circuit_index') }}">Retour à la liste</a>
        </li>
    </ul>
	</div> {# circuit #}

{% endblock %}  {# main #}

{% block sidebar %}
    
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_circuit_edit', {'circuitid': circuit.id}) }}"> Modifier Circuit</a><br>
        <a href="{{ path('admin_circuit_remove', {'circuitid': circuit.id}) }}"> Supprimer Circuit</a>
    {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('admin_circuit_edit', {'circuitid': circuit.id}) }}"> Modifier Circuit</a><br>
    {% else %}
        <h4>About</h4>
        <p>Bienvenue sur notre agence virtuelle.</p>
    {% endif %}
    
{% endblock %}