{% extends 'base.html.twig' %}

{% block header %}
            <header>
                <div class="navbar navbar-inverse navbar-static-top" id ="mynav-bar" role="navigation">
                    <div class="container">
                        <div class="navbar-header">

                            <a class="navbar-brand" href="{{ path('page_accueil') }}">Agence de Voyage</a>

                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                {% block header_navigation_links %}
                                    <li><a href="{{ path('page_actualite') }}">Actualités</a>
                                        </li>
                                    <li><a href="{{ path('circuit_index') }}"> Nos offres</a>
                                        </li>
                                {# {% if is_granted('ROLE_ADMIN') %}
                                    <li>
           								<a href="{{ path('admin_user_manage') }}">Gestion des utilisateurs</a>
									</li>
                                    {% endif %}
                                    #}
                                {% endblock %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% block header_navigation_links_right %}

                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <li><p class="navbar-text">Bonjour, {{ app.user }}</p></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}"> Logout</a></li>
                                    {% else %}
                                        <li><a href="{{ path('fos_user_security_login') }}"> Login</a></li>
                                    {% endif %}

                                {% endblock %}
                            </ul>


                        </div>
                    </div>
                </div>
            </header>
{% endblock %}
        
{% block sidebar %}
	<h4>About</h4>
	<p>Bienvenue sur notre agence virtuelle.</p>
{% endblock %}