{% extends 'agvoybase.html.twig' %}


{% block main %}
	
	{% if circuit is defined %}
    <h2>Gestion du circuit {{ circuit.description }}</h2>
    {% elseif user is defined %}
    <h2>Gestion de l'utilisateur {{ user.id }}</h2>
    {% endif %}
    
    {% if etape is defined %}
    <h3>Edition de l'étape {{ etape.numeroEtape }}</h3>
    {% elseif programmation is defined %}
    <h3>Edition de la programmation du {{ programmation.dateDepart|date('d-m-Y') }}</h3>
    {% endif %}
	
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
